<!DOCTYPE html>
<html lang="{{- site.Language.Lang -}}">

    <head>
        {{- partial "head.html" . -}}
    </head>

    <body{{ if or (eq .Section "package") (eq .Type "package") }} class="package-page"{{ end }}>
        <div class="page">

            <header class="page__header">
                {{- partial "header.html" . -}}
            </header>

            <section class="page__body">
                {{- block "main" . }}{{- end }}
            </section>

            <section class="page__aside">
                <div class="aside__content">
                    {{- if or (eq .Section "package") (eq .Type "package") }}
                        {{- block "aside" . }}{{- end }}
                    {{- else }}
                        <div class="aside__about">
                            {{- partial "about.html" . -}}
                        </div>
                        <hr>
                        {{- block "aside" . }}{{- end }}
                    {{- end }}
                </div>
            </section>

            <footer class="page__footer">
                {{- partial "footer.html" . -}}
            </footer>

        </div>
    </body>

</html>
